os
langchain 
streamlit 
pypdf 
faiss-cpu 
sentence-transformers 
langchain-community 
langchain-huggingface
langchain_community.document_loaders 
PyPDFLoader 
langchain.text_splitter  
RecursiveCharacterTextSplitter
langchain_huggingface  
HuggingFaceEmbeddings 
HuggingFaceHub 
langchain_community.vectorstores 
FAISS
langchain.chains 
RetrievalQA
